version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: date-diary-db
    environment:
      MYSQL_ROOT_PASSWORD: temp1234
      MYSQL_DATABASE: date_diary_dev
      MYSQL_USER: date_diary_user
      MYSQL_PASSWORD: temp1234
    ports:
      - '3307:3306'
    volumes:
      - mysql_data:/var/lib/mysql
    command: --default-authentication-plugin=mysql_native_password
    restart: unless-stopped

volumes:
  mysql_data:
